NODE_ENV=production
PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/loja_automotiva
BETTER_AUTH_SECRET=ZTMXjOYOEhRWr4Trx0CrrpUyzXIohp4VcopIb1HQ19s=
BETTER_AUTH_URL=fagom-shop-backend.vercel.app
FRONTEND_URL=fagom-shop.vercel.app
